This is Marten's blog.
= haml(:feed, :layout => false) 

%h3 Projects
%ul
  %li
    %a(href="https://github.com/marten/soundcheck")
      Soundcheck
    %br
    A universal test runner
  %li
    %a(href="https://github.com/marten/mongoid-app_settings")
      Mongoid::AppSettings
    %br
    Store application specific configuration in Mongoid

