.topbar
  .fill
    .container
      %h3
        %a.brand(href="/")= @heading
      %ul.nav
        %li
          %a(href="/") Blog
        %li
          %a(href="http://photos.martenveldthuis.com") Photos
